[submodule ".github/tools/figures/tikz-tensors"]
	path = .github/tools/figures/tikz-tensors
	url = https://github.com/pen-sotashimozono/tikz-tensors
	branch = main
[submodule ".claude"]
	path = .claude
	url = https://github.com/pen-sotashimozono/.claude
	branch = main
